.c-button {
    width: 100%;
    border: 0.2rem solid $color-primary;
    border-radius: 999rem;
    outline: none;
    font-weight: 700;
    cursor: pointer;
    padding: 1rem 2rem;
    transition: all 0.3s ease-out;
    background-color: $color-primary;
    color: $color-white;
    opacity: 1;

    &:hover {
        transform: translateY(-0.3rem);
        box-shadow: 0 0.2rem 2rem $color-primary;
    }

    &:active {
        transform: translateY(0.1rem);
        box-shadow: 0 0.1rem 1rem $color-primary;
    }

    &.is-secondary {
        border: 0.2rem solid $color-secondary;
        background-color: $color-secondary;

        &:hover {
            transform: translateY(-0.3rem);
            box-shadow: 0 0.2rem 2rem $color-secondary;
        }

        &:active {
            transform: translateY(0.1rem);
            box-shadow: 0 0.1rem 1rem $color-secondary;
        }
    }

    &.is-disabled {
        cursor: default;
        opacity: 0.7;

        &:hover,
        &:active {
            transform: translateY(0rem);
            box-shadow: 0 0 0 $color-primary;
        }
    }

    &.is-danger {
        background-color: $color-danger;
        border: 0.2rem solid $color-danger;

        &:hover {
            transform: translateY(-0.3rem);
            box-shadow: 0 0.2rem 2rem $color-danger;
        }

        &:active {
            transform: translateY(0.1rem);
            box-shadow: 0 0.1rem 1rem $color-danger;
        }
    }
}
