.c-button {
    width: 100%;
    border: 0.2rem solid $color-primary;
    border-radius: 999rem;
    outline: none;
    font-weight: 700;
    cursor: pointer;
    padding: 1rem 2rem;
    transition: all 0.3s ease-out;
    background-color: $color-primary;
    color: $color-white;

    &.is-disabled {
        background-color: $color-white;
        color: $color-primary;
        cursor: default;

        &:hover,
        &:active {
            transform: translateY(0rem);
            box-shadow: 0 0 0 $color-primary;
        }
    }

    &:hover {
        transform: translateY(-0.3rem);
        box-shadow: 0 0.2rem 2rem $color-primary;
    }

    &:active {
        transform: translateY(0.1rem);
        box-shadow: 0 0.1rem 1rem $color-primary;
    }
}
