// COLORS
$color-primary: #1782c5;
$color-white: #f4f5f6;
$color-danger: #cd071e;
$color-placeholder: #73b4dc;

// BORDER-RADIUS
$br-standard: 1rem;
$br-pill: 100rem;

// BREAKPOINTS - MOBILE FIRST
$bp-tablet: 767px; // Mobile
$bp-desktop: 1160px; // Tablet
