.p-home {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 5% 2rem 5%;
    color: $color-secondary;

    &__title {
        margin-top: 2rem;
        color: $color-primary;
    }

    &__triangles {
        width: 100%;
        margin-top: 1rem;
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
        justify-content: center;

        @include screenTablet {
            grid-template-columns: repeat(3, 1fr);
        }

        @include screenDesktop {
            grid-template-columns: repeat(6, 1fr);
        }

        &_details {
            display: flex;
            flex-direction: column;
            color: $color-primary;

            button {
                margin-top: 1rem;
            }
        }
    }

    &__button {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 1rem;

        @include screenTablet {
            padding: 0 35%;
        }

        @include screenDesktop {
            padding: 0 40%;
        }
    }
}
